body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh;
    gap: 20px;
    background-color: #dbdada;
}

.Profile {
    display: flex;
    position: fixed;
    top: 30px;
    right: 20px;
    width: auto;
    z-index: 1000;
}

.Profile input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
    background-color: transparent;
    color: #333;
}

.Profile button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.Search {
    display: flex;
    background-color: #dbdada;
    border: none;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    outline: none;
    background-color: transparent;
}

.NavBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 20px;
    width: auto;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 90vh;
    z-index: 1000;
    border-radius: 30px;
    justify-content: space-between;
}

.NavBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
}

.NavBar li {
    padding: 10px;
    cursor: pointer;
}

.NavBar li:last-child {
    margin-top: auto;
}

.GroupChat {
    flex-grow: 1;
    text-align: left;
    margin: 85px 20px 40px 150px;
    display: flex;
    flex-direction: column;
    background-color: #d1c2c2;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    height: 80vh;
    width: 60vw;
    overflow-y: auto;
}

.GroupChat h1 {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 10;
    color: white;
}

.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.JoinAGroup {
    margin-left: auto;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.JoinAGroup:hover {
    background-color: #333;
}

.group-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.group-box::-webkit-scrollbar {
    display: none;
}

.group-item {
    background-color: #777;
    color: white;
    height: 100px;
    padding: 30px 40px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    font-size: 20px;
}

.group-item:hover {
    transform: translateY(-3px);
}

.Reminder {
    width: 250px;
    height: 40vh;
    text-align: left;
    background-color: #f8f5f5;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 0px;
    position: relative;
}

.Reminder h1 {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 10;
    color: black;
}

.Reminder_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Reminder_box::-webkit-scrollbar {
    display: none;
}

.reminder-item {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.reminder-item:hover {
    transform: translateY(-3px);
}

h1 {
    font-size: 24px;
}
